.button {
	color: #B6BCBF;
	background-color: transparent;
	box-shadow: none;
	border: none;
	padding: 0;
	cursor: pointer;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	align-items: center;
	transition: .3s ease;
}

.button_type_search {
	background: #2F71E5;
	box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
	border-radius: 100px;
	position: absolute;
	height: 100%;
	right: 0;
	bottom: 0;
	padding: 21px 54px;
	color: #fff;
	transition: background-color linear .2s;
}

.button_type_search:hover {
	background-color: #347EFF;
}

.button_type_menu {
  display: none;
}

.button_type_show-card {
	color: #1A1B22;
	background-color: #fff;
	border-radius: 100px;
	padding: 21px 84px;
	margin: auto;
	align-self: center;
}

.button_type_show-card:hover {
	opacity: .7;
}

@media screen and (max-width: 1024px) {
	.button {
		font-size: 16px;
	}
}

@media screen and (max-width: 720px) {
	.button_type_menu {
		display: block;
	}
	
	.button_type_search {
		position: static;
		width: 100%;
		display: inline-block;
		text-align: center
	}
	
	.button_type_show-card {
		padding: 17px 60px;
	}
}
